<div class="body leading-normal tracking-normal px-5 md:px-20">

    <div class="flex flex-col md:flex-row gap-x-5">
        <!-- Sidebar -->
        <div class="w-full md:w-1/4 px-5">
            <ul class="py-4 flex flex-row flex-wrap md:flex-col w-full gap-y-4 gap-x-4">
                <li
                    class="px-6 py-2 hover:bg-blue-400 bg-blue-500 rounded-sm text-white text-sm font-semibold flex flex-row gap-x-4 items-center">
                    <i class="fa-regular fa-clock"></i>
                    <a href="#">KYC Applications</a>
                </li>
                <li
                    class="px-6 py-2 hover:bg-blue-400 rounded-sm text-black text-sm font-semibold flex flex-row gap-x-4 items-center">
                    <i class="fa-regular fa-user"></i>
                    <a href="#">Manage Users</a>
                </li>
            </ul>
        </div>

        <!-- Main Content -->
        <div id="main-content" class="w-full md:w-3/4 ">
        </div>
    </div>



</div>