<div class="flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="w-full max-w-md space-y-3 px-6 py-9 rounded-sm shadow-sm">
        <h2 class="mt-6 text-center text-3xl font-semibold tracking-wider font-mono">
            Forgot Password
        </h2>
        <p class="text-sm text-center mt-1">
            Enter your email address and we'll send you a link to reset your password.
        </p>
        <form id="forgot-password-form">
            <div class="rounded-md shadow-sm -space-y-px">
                <div class="flex flex-col">
                    <p class="text-sm mb-2.5">Email</p>
                    <input id="email-address" name="email" type="email" autoComplete="email" required
                        class="appearance-none rounded-lg relative block w-full px-3 py-3 border border-gray-300 placeholder-gray-500 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                        placeholder="Email address" />
                    <p class="text-red-500 text-sm" id="email-error"></p>
                </div>
            </div>

            <div class="relative w-full mt-7">
                <button type="submit"
                    class="w-full rounded-xl bg-gray-300 text-gray-300 px-5 py-3 font-semibold tracking-wider transition-all ease-in-out"
                    disabled>
                    Submit Email
                </button>
                <button
                    class="text-white button diagonal-translate w-full absolute rounded-xl font-semibold tracking-wider bg-black px-5 py-3 transition-all ease-in-out"
                    id="submit-button">
                    <p class="button-content">
                        Submit Email
                    </p>
                </button>
            </div>
        </form>
    </div>
</div>