<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <div class="body home-section">
        <div class="home-section-left-bar">
            <div class="account-details">
                <p class="account-details-title">My account</p>
                <div class="account-card">
                    <p id="card-amount" class="card-amount">Rs. XXX.XX</p>
                    <p class="card-title">Main Wallet</p>
                </div>
            </div>
            <div class="quick-transactions-section">
                <div class="quick-transactions-section">
                    <p class="quick-transactions-section-title">Quick Transactions</p>
                    <div id="quick-transactions" class="quick-transactions">
                        <div class="add-quick-transaction">
                            <div class="add-icon"></div>
                            <div class="add-icon-title">Add New</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="recent-transactions-section">
            <p class="recent-transactions-section-title"> Recent Transactions</p>
            <div id="recent-transactions" class="recent-transactions">
            </div>
        </div>
    </div>
</body>

</html>