<div class="body">
    <div id="dashboard-section" class="dashboard-section">
        <div class="dummy-features">
            <p class="dummy-feature cursor-pointer">Load Fund</p>
            <p class="dummy-feature cursor-pointer">Send Money</p>
            <p class="dummy-feature cursor-pointer">Play Quizzies</p>
        </div>
        <div id="dashboard-slider" class="carousel-inner">
        </div>
    </div>


    <div id="home-section" class="home-section">
        <div class="home-section-left-bar">
            <div class="account-details">
                <p class="account-details-title">My account</p>
                <div id="main-card" class="account-card">
                    <p id="card-amount" class="card-amount">Rs. XXX.XX</p>
                    <p class="card-title">Main Wallet</p>
                    <i id="verified-icon" class="fa-solid fa-certificate verified-icon"></i>
                    <i id="check-icon" class="fa-solid fa-check check-icon"></i>
                    <i id="refresh-icon" class="fa-solid fa-arrows-rotate refresh-icon"></i>
                    <p id="easy-pay-points" class="easy-pay-points">Easy Pay Points: <span id="easy-pay-points-span"
                            class="easy-pay-points-span"></span> </p>
                </div>
            </div>
            <div class="services-section">
                <p class="services-title">Services</p>
                <div class="services">
                    <a href="/#/send-money">
                        <div class="service-item">
                            <i class="fa-solid fa-wallet service-item-icon"></i>
                            <p class="service-item-title"> Send Money </p>
                        </div>
                    </a>

                    <a href="/#/load-balance">
                        <div class="service-item">
                            <i class="fa-solid fa-piggy-bank service-item-icon"></i>
                            <p class="service-item-title"> Load Money </p>
                        </div>
                    </a>
                    <div id="quiz-button" class="service-item">
                        <i class="fa-solid fa-gamepad service-item-icon"></i>
                        <p class="service-item-title"> Play Quizzes </p>
                    </div>

                    <a href="/#/fill-kyc-form">
                        <div id="kyc-service-item" class="service-item">
                            <i class="fa-solid fa-user-tie service-item-icon"></i>
                            <p class="service-item-title"> Fill KYC Form </p>
                        </div>
                    </a>
                </div>
            </div>
            <div id="slider-section" class="border border-solid">
            </div>
        </div>
        <div class="recent-transactions-section">
            <p class="recent-transactions-section-title"> Recent Transactions</p>
            <div id="recent-transactions" class="recent-transactions">
            </div>
        </div>
    </div>
</div>