<div class="body load-balance-page">
    <div class="divider"></div>
    <div class="load-balance-card">
        <div class="load-balance-card-head">
            <div class="load-balance-head-icon">
                <i class="fa-solid fa-wallet"></i>
            </div>
            <p class="load-balance-head-title"> Load via Linked Bank Accounts</p>
        </div>
        <div class="normal-divider"></div>
        <div class="bank-accounts">
            <div class="linked-accounts-head">
                <i class="fa-solid fa-landmark linked-accounts-icon"></i>
                <p class="linked-accounts-title">Linked Accounts</p>
            </div>
            <div id="linked-accounts" class="linked-accounts"></div>
        </div>

    </div>
</div>