<div class="body load-balance-page">
    <div class="divider"></div>
    <div class="load-balance-card">
        <div class="load-balance-card-head">
            <div class="load-balance-head-icon">
                <i class="fa-solid fa-wallet"></i>
            </div>
            <p class="load-balance-head-title"> Load via Linked Bank Accounts</p>
        </div>
        <div class="normal-divider"></div>
        <div class="bank-accounts">
            <div class="linked-accounts-head">
                <i class="fa-solid fa-landmark linked-accounts-icon"></i>
                <p class="linked-accounts-title">Linked Accounts</p>
            </div>
            <div id="linked-accounts" class="linked-accounts"></div>
            <div id="load-balance-error"
                class="flex flex-col md:flex-row items-center justify-center w-full px-10 py-10">
                <img src="./images/error.png" alt="cat-shocked" class="object-cover h-28 md:h-56" />
                <div class="flex flex-col gap-y-2 ">
                    <p class="text-sm font-semibold text-center">
                        Oops!
                    </p>
                    <p id="load-balance-error-message" class="text-sm tracking-wide text-zinc-500 text-center">
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>