<div class="body w-full px-5 md:px-20 flex flex-row items-center">
    <div class="hidden md:block w-1/2 object-cover">
        <img alt="login" src="https://cdn.corporatefinanceinstitute.com/assets/digital-wallet-1024x683.jpeg">
    </div>
    <div class="w-full md:w-1/2 flex items-center justify-center">
        <div class="p-8 w-full max-w-md">
            <div class="flex items-center justify-between mb-4">
                <img src="./images/e-wallet.png" alt="Easy Pay Logo" class="h-10">
                <a href="/#/register" class="text-purple-600">Create Easy Pay Account
                    <span class="ml-2">
                        <i class="fa-solid fa-chevron-right"></i>
                    </span> </a>
            </div>
            <h2 class="text-2xl font-semibold text-purple-800 mb-4">Login to Easy Pay</h2>

            <form class="login-form">
                <div class="mb-4">
                    <div class="relative">
                        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                            <i class="fa-regular fa-envelope "></i>
                        </span>
                        <input type="text" id="email"
                            class="input block w-full pl-10 pr-3 py-2 border rounded-md text-gray-900 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                            placeholder="Email Address">
                    </div>
                    <p class="mt-1 text-red-600 font-sm tracking-wide" id="email-error"></p>
                </div>
                <div class="mb-6">
                    <div class="relative">
                        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                            <i class="fa-solid fa-lock "></i>
                        </span>
                        <input type="password" id="password"
                            class="input block w-full pl-10 pr-3 py-2 border rounded-md text-gray-900 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                            placeholder="Password">
                    </div>
                    <p class="mt-1 text-red-600 font-sm tracking-wide" id="password-error"></p>
                </div>
                <div class="relative w-full mt-7">
                    <button type="submit"
                        class="w-full rounded-xl bg-gray-300 text-gray-300 px-5 py-3 font-semibold tracking-wider transition-all ease-in-out"
                        disabled>
                        Login
                    </button>
                    <button
                        class="text-white button diagonal-translate w-full absolute rounded-xl font-semibold tracking-wider bg-black px-5 py-3 transition-all ease-in-out hover:translate-x-2 hover:translate-y-2"
                        id="login-button" type="submit">
                        <p id="login-button-content" class="button-content">
                            Login
                        </p>
                    </button>
                </div>
            </form>
            <div class="mt-6 text-center text-sm underline">
                <a href="/#/forgot-password" class="text-purple-600">FORGOT LOGIN PASSWORD?</a>
            </div>
        </div>
    </div>
</div>