<div class="body px-5 py-5 md:px-20 w-full shadow-md rounded-lg overflow-hidden">
    <div class="p-4 border-b flex flex-row items-center gap-x-3 tracking-wider ">
        <i class="fa-bell fa-regular"></i>
        <p class="text-lg font-semibold">Notifications</p>
    </div>
    <div id="notifications-section" class="flex flex-col">

    </div>
    <div id="notifications-error" class="flex flex-col md:flex-row items-center justify-center w-full px-10 py-10">
        <img src="./images/error.png" alt="cat-shocked" class="object-cover h-28 md:h-56" />
        <div class="flex flex-col gap-y-2 ">
            <p class="text-sm font-semibold text-center">
                Oops!
            </p>
            <p id="notifications-error-message" class="text-sm tracking-wide text-zinc-500 text-center">
            </p>
        </div>
    </div>
    <div id="pagination-controls" class="flex justify-center gap-x-3 items-center mt-4">
        <button id="prev-page"
            class="px-4 py-2 text-blue-500 border border-solid border-blue-500 hover:text-white hover:bg-blue-500 rounded cursor-pointer transition-all duration-300 ease-in"
            disabled>Previous</button>
        <div id="page-numbers" class="flex items-center gap-x-2"></div>
        <button id="next-page"
            class="px-4 py-2 text-blue-500 border border-solid border-blue-500 hover:text-white hover:bg-blue-500 rounded cursor-pointer transition-all duration-300 ease-in"
            disabled>Next</button>
    </div>
</div>