<div class="body w-full px-5 py-10 flex flex-row items-center">
    <div class="hidden md:block w-1/2 max-h-screen">
        <img class="h-screen w-full object-cover" alt="login"
            src="https://cdn.corporatefinanceinstitute.com/assets/digital-wallet-1024x683.jpeg">
    </div>
    <div class="w-full md:w-1/2 flex items-center justify-center min-h-screen ">
        <div class="rounded-lg p-8 w-full max-w-lg">
            <div class="flex items-center justify-between mb-4">
                <img src="./images/e-wallet.png" alt="Easy Pay Logo" class="h-10">
                <a href="/#/login" class="text-purple-600">
                    <span class="mr-2">
                        <i class="fa-solid fa-chevron-left"></i>
                    </span> Go To Login</a>
            </div>
            <h2 class="text-3xl font-semibold text-purple-800 mb-2 tracking-wider">Join the cashless world.</h2>
            <p class="text-gray-600 my-6 font-semibold">By having a Easy Pay account, you can pay, book and transfer
                cash easily.
                Sign up in
                just seconds.</p>

            <form id="signup-form">
                <div class="mb-4">
                    <div class="relative">
                        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                            <i class="fa-regular fa-user"></i>
                        </span>
                        <input type="text" id="full-name" name="fullName"
                            class="input block w-full pl-10 pr-3 py-2 border rounded-md text-gray-900 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                            placeholder="Full name">

                    </div>
                    <p class="mt-1 text-red-600 font-sm tracking-wide" id="username-error"></p>
                </div>
                <div class="mb-4">
                    <div class="relative">
                        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                            <i class="fa-solid fa-phone"></i>
                        </span>
                        <input type="text" id="mobile-number" name="mobileNumber"
                            class="input block w-full pl-10 pr-3 py-2 border rounded-md text-gray-900 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                            placeholder="Mobile number">

                    </div>
                    <p class="mt-1 text-red-600 font-sm tracking-wide" id="mobile-error"></p>
                </div>
                <div class="mb-4">
                    <div class="relative">
                        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                            <i class="fa-regular fa-envelope"></i>
                        </span>
                        <input type="email" id="email" name="email"
                            class="input block w-full pl-10 pr-3 py-2 border rounded-md text-gray-900 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                            placeholder="Email">

                    </div>
                    <p class="mt-1 text-red-600 font-sm tracking-wide" id="email-error"></p>
                </div>
                <div class="mb-4">
                    <div class="relative">
                        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                            <i class="fa-regular fa-calendar"></i>
                        </span>
                        <input type="text" id="dob" name="dob"
                            class="input block w-full pl-10 pr-3 py-2 border rounded-md text-gray-900 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                            placeholder="Date of Birth (YYYY-MM-DD) in AD">

                    </div>
                    <p class="mt-1 text-red-600 font-sm tracking-wide" id="dob-error"></p>
                </div>
                <div class="mb-6">
                    <div class="flex items-center mt-2">
                        <label class="inline-flex items-center mr-4">
                            <input class="form-radio" type="radio" name="gender" value="Male">
                            <span class="ml-2">Male</span>
                        </label>
                        <label class="inline-flex items-center mr-4">
                            <input class="form-radio" type="radio" name="gender" value="Female">
                            <span class="ml-2">Female</span>
                        </label>
                        <label class="inline-flex items-center">
                            <input class="form-radio" type="radio" name="gender" value="Other">
                            <span class="ml-2">Other</span>
                        </label>
                    </div>
                    <p class="mt-1 text-red-600 font-sm tracking-wide" id="gender-error"></p>
                </div>
                <div class="mb-4">
                    <div class="relative">
                        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                            <i class="fa-solid fa-lock"></i>
                        </span>
                        <input type="password" id="password" name="password"
                            class="input block w-full pl-10 pr-3 py-2 border rounded-md text-gray-900 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                            placeholder="Password">

                    </div>
                    <p class="mt-1 text-red-600 font-sm tracking-wide" id="password-error"></p>
                </div>
                <div class="mb-6">
                    <div class="relative">
                        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                            <i class="fa-solid fa-lock"></i>
                        </span>
                        <input type="password" id="confirm-password" name="confirmPassword"
                            class="input block w-full pl-10 pr-3 py-2 border rounded-md text-gray-900 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                            placeholder="Confirm Password">

                    </div>
                    <p class="mt-1 text-red-600 font-sm tracking-wide" id="confirm-password-error"></p>
                </div>
                <button id="register-button" type="submit"
                    class="w-full bg-purple-500 text-white py-2 rounded-md hover:bg-purple-600 transition duration-150">Sign
                    Up</button>
            </form>
        </div>
    </div>
</div>