<div class="body flex items-start justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="w-full max-w-md space-y-3 px-6 py-9 rounded-sm shadow-sm">
        <h2 class="mt-6 text-center text-3xl font-semibold tracking-wider font-mono">
            Reset Password
        </h2>
        <p class="text-sm text-center mt-1">
            Enter your old password and new password to reset your password.
        </p>
        <form id="reset-password-form">
            <div class="rounded-md shadow-sm flex flex-col gap-y-1">
                <div class="flex flex-col ">
                    <p class="text-sm mb-2.5 font-semibold">Old Password</p>
                    <div class="relative">
                        <input id="old-password" name="oldPassword" type="password" required
                            class="pr-8 input appearance-none rounded-lg relative block w-full px-3 py-3 border border-gray-300 placeholder-gray-500 focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm"
                            placeholder="Old password" />
                        <div class="absolute inset-y-0 right-3 flex items-center pl-3 cursor-pointer z-10">
                            <i id="view-password" class="fa-regular fa-eye"></i>
                            <i id="hide-password" class="fa-regular fa-eye-slash"></i>
                        </div>
                    </div>
                    <p class="text-red-500 text-sm" id="old-password-error"></p>
                </div>
                <div class="flex flex-col mt-4">
                    <p class="text-sm mb-2.5 font-semibold">New Password</p>
                    <div class="relative">
                        <input id="new-password" name="newPassword" type="password" required
                            class="pr-8 input appearance-none rounded-lg relative block w-full px-3 py-3 border border-gray-300 placeholder-gray-500 focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm"
                            placeholder="New password" />
                        <div class="absolute inset-y-0 right-3 flex items-center pl-3 cursor-pointer z-10">
                            <i id="view-new-password" class="fa-regular fa-eye"></i>
                            <i id="hide-new-password" class="fa-regular fa-eye-slash"></i>
                        </div>
                    </div>
                    <p class="text-red-500 text-sm" id="new-password-error"></p>
                </div>
            </div>

            <div class="relative w-full mt-7">
                <button type="submit"
                    class="w-full rounded-xl bg-gray-300 text-gray-300 px-5 py-3 font-semibold tracking-wider transition-all ease-in-out"
                    disabled>
                    Reset Password
                </button>
                <button
                    class="text-white button diagonal-translate w-full absolute rounded-xl font-semibold tracking-wider bg-black px-5 py-3 transition-all ease-in-out"
                    id="reset-button">
                    <p class="button-content">
                        Reset Password
                    </p>
                </button>
            </div>
        </form>
    </div>
</div>