<div class="body flex items-start justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="w-full max-w-md space-y-3 px-6 py-9 rounded-sm shadow-sm">
        <h2 class="mt-6 text-center text-3xl font-semibold tracking-wider font-mono">
            Reset Password
        </h2>
        <p class="text-sm text-center mt-1">
            Enter your new password and confirm it to reset your password.
        </p>
        <form id="reset-password-form">
            <div class="rounded-md shadow-sm flex flex-col gap-y-1">
                <div class="flex flex-col">
                    <p class="text-sm mb-2.5 font-semibold">Password</p>
                    <input id="password" name="password" type="password" required
                        class="input appearance-none rounded-lg relative block w-full px-3 py-3 border border-gray-300 placeholder-gray-500 focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm"
                        placeholder="Password" />
                    <p class="text-red-500 text-sm" id="password-error"></p>
                </div>
                <div class="flex flex-col mt-4">
                    <p class="text-sm mb-2.5 font-semibold">Confirm Password</p>
                    <input id="confirm-password" name="confirmPassword" type="password" required
                        class="input appearance-none rounded-lg relative block w-full px-3 py-3 border border-gray-300 placeholder-gray-500 focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm"
                        placeholder="Confirm password" />
                    <p class="text-red-500 text-sm" id="confirm-password-error"></p>
                </div>
            </div>

            <div class="relative w-full mt-7">
                <button type="submit"
                    class="w-full rounded-xl bg-gray-300 text-gray-300 px-5 py-3 font-semibold tracking-wider transition-all ease-in-out"
                    disabled>
                    Reset Password
                </button>
                <button
                    class="text-white button diagonal-translate w-full absolute rounded-xl font-semibold tracking-wider bg-black px-5 py-3 transition-all ease-in-out"
                    id="reset-button">
                    <p class="button-content">
                        Reset Password
                    </p>
                </button>
            </div>
        </form>
    </div>
</div>