<div class="body w-full px-5 py-5 md:px-20 flex flex-row items-start">
    <div class="hidden md:block w-1/2 object-cover">
        <img alt="otp-verification" src="https://cdn.corporatefinanceinstitute.com/assets/digital-wallet-1024x683.jpeg">
    </div>
    <div class="w-full md:w-1/2 flex items-center justify-center">
        <div class="p-8 w-full">
            <div class="flex items-center justify-between mb-4">
                <img src="./images/e-wallet.png" alt="Easy Pay Logo" class="h-10">
            </div>
            <h2 class="text-2xl font-semibold text-blue-800 mb-4">OTP Verification</h2>

            <form id="otp-form" class="otp-form">
                <div class="mb-4">
                    <div class="relative">
                        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                            <i class="fa-solid fa-key"></i>
                        </span>
                        <input type="text" id="otp"
                            class="input block w-full pl-10 pr-3 py-2 border rounded-md text-gray-900 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                            placeholder="Enter OTP">
                    </div>
                    <p class="mt-1 text-red-600 font-sm tracking-wide" id="otp-error"></p>
                </div>
                <button id="proceed-button" type="submit"
                    class="w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600 transition duration-150">Proceed</button>
            </form>
            <div id="resend-otp-text" class="mt-6 text-center text-sm underline cursor-pointer">
                Resend OTP
            </div>
        </div>
    </div>
</div>