<div class="px-8 pt-3">
    <h1 class="text-xl font-semibold tracking-wider mb-4">View KYC Applications</h1>
    <div class="flex flex-row ">
        <form id="view-kyc-applications-form" class="w-full">
            <input id="email" type="email" autocomplete="email"
                class="input w-full mb-4 p-2 border border-gray-300 rounded" placeholder="Search users by email.">
        </form>
        <select id="select-application-status" class="input ml-4 mb-4 p-2 border border-gray-300 rounded">
            <option value="All">All</option>
            <option value="Pending">Pending</option>
            <option value="Verified">Verified</option>
            <option value="Rejected">Rejected</option>
        </select>
    </div>

    <div class="w-full shadow-md rounded flex flex-col">
        <div class="text-left flex flex-row justify-between font-semibold tracking-wider">
            <p class="px-4 py-2 text-blue-600">User</p>
            <p class="px-4 py-2">Actions</p>
        </div>
        <div id="applications-table-body" class="w-full">
        </div>
        </table>
    </div>
    <div id="kyc-details-modal" class="fixed inset-0 bg-gray-600 bg-opacity-50 justify-center items-center hidden">
        <div class="body p-6 mx-5 md:mx-0 rounded-lg w-full md:w-1/2">
            <button id="close-modal" class="float-right">
                <i class="fa-solid fa-x"></i>
            </button>
            <h2 class="text-xl mb-4 text-blue-700 font-semibold tracking-wider">KYC <span class="text-sky-600">
                    Details</span> </h2>
            <div id="modal-content">
            </div>
        </div>
    </div>
</div>