.header {
  @apply w-full py-10 px-5 md:px-20;
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  transition: color 0.5s ease-in;
}

.header-items {
  @apply border-solid border-gray-600 w-full flex gap-y-5 flex-row justify-between items-center;
}

.menu-button {
  @apply block md:hidden text-xl mr-4;
}

.header-tabs {
  @apply w-full hidden md:flex flex-row gap-x-5 justify-between p-0.5 border border-solid border-gray-500 rounded-3xl;
}

.header-tab-item {
  @apply bg-gradient-to-tr from-blue-700 to-blue-500 rounded-3xl px-2 md:px-6 py-2 text-white text-sm font-semibold cursor-pointer flex flex-row justify-center gap-x-2 items-center flex-1;
}

.user-profile-item {
  @apply w-9 h-9 rounded-full border border-solid border-gray-600 object-contain cursor-pointer flex flex-col justify-center items-center;
}

.header-side-tabs-side-icons {
  @apply w-full flex flex-row justify-end gap-x-5 items-center;
}

.auth-buttons {
  @apply flex flex-row gap-x-5;
}

.log-out-button {
  @apply border-gray-600 border border-solid px-3 py-1 rounded-2xl cursor-pointer;
}

.log-out-button-icon {
  @apply bg-white;
}

.log-out-button-title {
  @apply text-sm font-semibold;
}

.notifications-button {
  @apply w-9 h-9 rounded-full flex flex-row justify-center items-center cursor-pointer mr-2;
}

.toggle-theme-button {
  @apply w-8 h-4 rounded-2xl border border-solid border-gray-600 relative mr-2;
}

.toggle-button-switcher-left {
  @apply w-6 h-6 rounded-full bg-blue-900 absolute top-1/2 transform -translate-y-1/2 -left-3 cursor-pointer transition-all ease-in;
}

.toggle-button-switcher-right {
  @apply w-6 h-6 rounded-full bg-blue-900 absolute top-1/2 transform -translate-y-1/2 -right-3 cursor-pointer transition-all ease-in;
}

.login-button {
  @apply rounded-sm px-6 py-0.5 border border-solid border-gray-700 font-semibold;
}

.user-action-buttons {
  @apply w-full flex flex-row gap-x-5 items-center justify-end;
}

.user-settings-buttons {
  @apply flex flex-row gap-x-3 items-center w-full justify-end;
}

.user-profile-modal {
  background-color: var(--header-bg-color);
}

.notifications-scrollbar {
  scrollbar-width: thin;
}

.notification-div {
  @apply flex items-start mb-4  px-3 py-2 hover:bg-gray-300 hover:text-black;
}

.notification-content {
  @apply ml-4 flex-1;
}

.notification-title {
  @apply text-sm font-bold;
}

.notification-date {
  @apply text-xs mt-1;
}
