.home-section {
  @apply w-full flex flex-col md:flex-row md:gap-x-4 gap-y-10 py-10 px-5 md:px-20 pb-32;
}

.home-section-left-bar {
  @apply w-full md:w-3/5 flex flex-col gap-y-10;
}

.account-details {
  @apply flex flex-col w-full gap-y-4;
}

.account-details-title {
  @apply text-lg tracking-widest;
}

.account-card {
  @apply h-28 w-full bg-gradient-to-tr from-blue-950 to-sky-500 rounded-2xl flex flex-col justify-between items-start p-3 relative hover:-skew-x-3 transition-all duration-500 ease-in-out cursor-pointer;
}

.card-amount {
  @apply text-xl text-white font-semibold tracking-wider cursor-pointer;
}

.card-title {
  @apply text-sm tracking-wide text-white;
}

.quick-transactions-section {
  @apply w-full flex flex-col gap-y-5;
}

.quick-transactions-section-title {
  @apply text-lg tracking-widest;
}

.quick-transactions {
  @apply w-full flex flex-row rounded-2xl px-4 py-4  gap-x-3;
  box-shadow: 0 1px 2px 0 var(--shadow-color), 0 3px 17px 0 var(--shadow-color);
}

.add-quick-transaction {
  @apply h-24 w-20 rounded-2xl border border-solid flex flex-col items-center justify-center gap-y-3;
}

.add-icon {
  @apply h-9 w-9 rounded-full border border-dotted border-purple-700;
}

.add-icon-title {
  @apply text-sm tracking-wider;
}

.quick-transaction {
  @apply h-24 w-20 rounded-2xl border border-solid flex flex-col items-center justify-center gap-y-3;
}

.quick-transaction-image {
  @apply h-9 w-9 rounded-full border border-dotted border-purple-700;
}

.quick-transaction-title {
  @apply text-sm tracking-wider;
}

.recent-transactions-section {
  @apply w-full md:w-2/5;
}

.recent-transactions-section-title {
  @apply text-xl font-semibold tracking-wider mb-5;
}

.recent-transactions {
  @apply flex flex-col gap-y-1 rounded-2xl px-5 py-5 tracking-wider;
  box-shadow: 0 1px 2px 0 var(--shadow-color), 0 3px 17px 0 var(--shadow-color);
}

.transaction-item {
  @apply flex flex-row items-center justify-between py-4 px-2 lg:px-4 rounded-xl cursor-pointer hover:bg-gradient-to-tr hover:from-blue-500 hover:to-sky-500 hover:scale-105 transition-all duration-300 ease-out;
}

.transaction-details {
  @apply flex flex-row items-center gap-x-2;
}

.transaction-type {
  @apply flex flex-col items-center justify-center;
}

.transaction-type-debit {
  @apply w-7 h-7 min-w-7 min-h-7 lg:w-9 lg:h-9 lg:min-h-9 lg:min-w-9 rounded-full bg-green-500 [rotate:130deg];
}

.transaction-type-credit {
  @apply w-7 h-7 min-w-7 min-h-7 lg:w-9 lg:h-9 lg:min-h-9 lg:min-w-9  rounded-full bg-red-500  [rotate:-50deg];
}

.transaction-details-tab {
  @apply flex flex-col gap-y-1.5 text-sm;
}

.transaction-username {
  @apply font-bold;
}

.transaction-amount-debit {
  @apply text-sm font-semibold text-green-600;
}

.transaction-amount-credit {
  @apply text-sm font-semibold text-red-600;
}

.transaction-icon-debit {
  @apply text-white;
}

.transaction-icon-credit {
  @apply text-white;
}

.services-section {
  @apply w-full;
}

.services-title {
  @apply text-xl tracking-wider mb-5;
}

.services {
  @apply flex flex-row flex-wrap gap-5;
}

.service-item {
  @apply flex flex-col items-center gap-y-5 p-4 border-2 border-solid rounded-xl hover:bg-gradient-to-tr hover:from-blue-500 hover:to-sky-500 hover:text-white hover:scale-105 transition-all duration-300 ease-out cursor-pointer;
  border-color: var(--border-color);
}

.service-item-icon {
  @apply text-2xl;
}

.service-item-title {
  @apply text-sm;
}

.verified-icon {
  @apply text-green-500 text-xl absolute bottom-3 left-24;
}

.check-icon {
  @apply text-white text-xs absolute bottom-[15.5px] left-[100px];
}

.easy-pay-logo {
  @apply h-10 w-10;
}

.refresh-icon {
  @apply text-white absolute top-6 right-6 cursor-pointer;
}

.more-button {
  @apply font-semibold tracking-wider text-end cursor-pointer;
}

.easy-pay-points {
  @apply hidden md:block absolute bottom-4 right-6 text-white tracking-wider;
}

.easy-pay-points-span {
  @apply text-white font-bold;
}