.body {
  @apply min-h-screen;
  background-color: var(--bg-color);
  color: var(--text-color);
  border-color: var(--border-color);
  transition: color 0.5s ease-in;
}

.input {
  background-color: var(--input-bg-color);
  color: var(--input-text-color);
  border-color: var(--border-color);
}
