<div class="header-items">
    <div id="user-menu-background"
        class="fixed hidden md:hidden h-full w-full bg-black bg-opacity-25 top-0 right-0 z-10">
    </div>
    <div id="sliding-menu"
        class="side-menu md:hidden fixed tracking-wider z-20 top-0 left-0 h-full w-64 transform -translate-x-full transition-transform duration-300">
        <div class="flex items-center justify-between p-4 border-b border-gray-700">
            <p class="text-xl">Menu</p>
            <button id="close-menu" class=" focus:outline-none">
                <i class="fa-solid fa-x"></i>
            </button>
        </div>
        <div class="p-4 flex flex-col gap-y-3 w-full">
            <button id="side-menu-home"
                class="w-full text-start block py-2 px-2 hover:bg-blue-700 hover:text-white rounded">
                <span><i class="fa-solid fa-house mr-2"></i></span> Home</button>
            <button id="side-menu-transaction"
                class="w-full text-start block py-2 px-2 hover:bg-blue-700 hover:text-white rounded"> <span>
                    <i class="fa-solid fa-wallet mr-3"></i>
                </span> Transactions</button>
        </div>
    </div>
    <div id="menu-button" class="menu-button">
        <i class="fa-solid fa-bars"></i>
    </div>
    <div id="menus" class="header-tabs">
        <a href="/#/home" class="header-tab-item">
            <i class="fa-solid fa-house"></i>
            <p> Home </p>
        </a>
        <a href="/#/statements" class="header-tab-item">
            <i class="fa-solid fa-wallet"></i>
            <p> Transactions </p>
        </a>

    </div>
    <div id="side-icons" class="header-side-tabs-side-icons">
        <div class="user-settings-buttons">
            <div id="user-profile" class="user-profile-item hidden">
                <i id="user-profile-icon" class="fa-regular fa-user"></i>
            </div>
            <div id="notifications-button" class="notifications-button relative tracking-wider">
                <div id="notification-button" class="user-profile-item">
                    <i id="notification-icon" class="fas fa-bell"></i>
                </div>
                <div id="user-notification-background"
                    class="fixed hidden h-full w-full bg-black bg-opacity-25 top-0 right-0 z-10">
                </div>
                <div id="notification-modal"
                    class="user-profile-modal fixed md:absolute bg-white top-20 md:top-12 w-full md:w-96 h-0 right-0 transition-all duration-300 z-20 overflow-hidden">
                    <div class="w-full rounded-lg shadow-lg h-full flex flex-col items-center justify-between">
                        <div class="px-4 py-2 ">
                            <h2 class="text-xl">Notifications</h2>
                        </div>
                        <div class="h-[1px] w-full bg-blue-700"></div>
                        <div id="notifications-container"
                            class="flex flex-col flex-1 h-full w-full overflow-auto notifications-scrollbar">
                        </div>
                        <div class="h-[1px] w-full bg-blue-700"></div>
                        <button id="view-more-notifications" class="bg-blue-500 w-full text-white px-4 py-2">View
                            More</button>
                    </div>
                </div>
            </div>
            <div class="toggle-theme-button">
                <div id="toggle-switcher"></div>
            </div>
            <div id="log-out-button" class="log-out-button">
                <p class="log-out-button-title">Logout</p>
            </div>
        </div>
        <div class="auth-buttons">
            <a href="/#/login">
                <div id="tab-login-button" class="login-button"> Login </div>
            </a>
        </div>
    </div>
</div>